<%= form_with(model: question, local: true, html: { class: "question-form" }) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field title">
    <%= form.label :título %>
    <%= form.text_field :title %>
  </div>

  <div class="field body">
    <%= form.label :corpo %>
    <%= form.text_area :body %>
  </div>

  <% if false %>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score %>
  </div>

  <div class="field">
    <%= form.label :answered %>
    <%= form.check_box :answered %>
  </div>

  <% end %>

  <%= link_to "Como fazer uma boa pergunta (stack overflow)", "https://stackoverflow.com/help/how-to-ask"%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
