<p id="notice"><%= notice %></p>

<h1>Perguntas</h1>

<br>

<% @highest.each do |q| %>
  <div class="container-fluid no-gutters question-short">
    <div class="row">
      <div class="col-1 question-engagement">
          <h3><%= q.cached_votes_score %></h3>
          <%= q.cached_votes_score === 1 ? "Voto" : "Votos" %> <%# pluralização correta %>
      </div>

      <div class="col-1 question-engagement <%= (q.chosen_answer === nil) ? "" : "answered" %>">
        <h3><%= q.answers.size %></h3>
        <%= q.answers.size === 1 ? "Resposta" : "Respostas" %> <%# pluralização correta %>
      </div>

      <div class="col-6 question-body">
        <h4><%= link_to q.title, q %></h4>
      </div>

      <div class="col-4 question-author">
        perguntado em <%= q.created_at %>
          <br>
          <span class="text-primary">
            <%= q.user.email %>
          </span>
          <%= "- #{q.user.major} (#{q.user.year}.#{q.user.semester})" %>
      </div>
    </div>
  </div>
<% end %>

<%== pagy_nav(@pagy) %>

<br>

<%= link_to 'New Question', new_question_path %> |

<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
