<p id="notice"><%= notice %></p>

<h1>Perguntas</h1>

<br>

<% @highest.each do |question| %>
  <div class="container-fluid no-gutters question-short">
    <div class="row">
      <div class="col-1 question-engagement">
        <div>
          <h3><%= question.cached_votes_score %></h3>
          Score
        </div>
        <% if false %>
          <p>
            <strong>Answered:</strong>
            <%= question.answered %>
          </p>
        <% end %>
      </div>
      <div class="col-6 question-body">
        <h4><%= link_to question.title, question %></h4>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Question', new_question_path %> |

<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
