<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<div class="row">

<div class="col-sm-3" style="background-color:#b3e6ff">
  <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Filtrar por tags" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
  </form>
</div>

<div class="col-sm-6">
  <table>
    <thead>
      <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Score</th>
      <th>Answered</th>
      <th>User E-mail</th>
      <th colspan="3"></th>
      </tr>
  </thead>

  <tbody>
    <% @highest.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.body %></td>
        <td><%= question.score %></td>
        <td><%= question.answered %></td>
        <td><%= question.user.email %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>


<br>

<%= link_to 'New Question', new_question_path %> |

<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

</div>

