<p id="notice"><%= notice %></p>

<%= render 'question-details', question: @question %>

<%# comments on this question %>
<%= render 'comments/comments', commentable: @question %>

<br>

<%# create new comment on this question %>
<%= render 'comments/form', commentable: @question %>

<br>

<%# answers to this question %>
<%= render 'answers/answers', question: @question %>

<br>

<%# create new answer to this question %>
<%= render 'answers/form', question: @question %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
