<p id="notice"><%= notice %></p>

<div class="pb-2 mt-4 mb-2 header">
  <h1><%= @question.title %></h1>
</div>

<div class="container-fluid no-gutters question-long">
  <div class="row">
    <div class="col-1">
      <%= render 'layouts/score', votable: @question %>
        <% if @question.answered %>
          <p>
            <strong>Answered:</strong>
            <%= @question.answered %>
          </p>
        <% end %>
    </div>
    <div class="col-7 question-body">
      <div class="row">
        <%= simple_format(@question.body) %>
      </div>
      <div class="row justify-content-end">
        <div class="col-5 author">
          perguntado em <%= @question.created_at %>
          <br>
          <span class="text-primary">
            <%= @question.user.email %>
          </span>
          <%= "- #{@question.user.major} (#{@question.user.year}.#{@question.user.semester})" %>
        </div>
      </div>
    </div>
    <div class="col-4 question-comments">
      <%# comments on this question %>
      <%= render 'comments/comments', commentable: @question %>
    </div>
  </div>
</div>

<%# answers to this question %>
<%= render 'answers/answers', question: @question %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
