<h4 class="divide">
  <%= question.answers.length %>
  <%= question.answers.length === 1 ? "Resposta" : "Respostas" %> <%# pluralização correta %>
</h4>

<% if question.chosen_answer != nil %>
  <%= render 'answers/answer_details', answer: question.chosen_answer %>
<% end %>

<% question.answers.order(:cached_votes_score).reverse.each do |answer| %>
  <% if !answer.chosen %>
    <%= render 'answers/answer_details', answer: answer %>
  <% end %>
<% end %>

<br>

<%# create new answer to this question %>
<%= render 'answers/form', question: @question %>